<?xml version="1.0" encoding="utf-8"?>
<Content Key="d10d23ab-d956-406c-b041-08c6298374e7" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-12-30T23:16:58</CreateDate>
    <NodeName Default="Test">
      <Name Culture="en-GB">Test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
    </Published>
    <Schedule />
    <Template Key="77e83006-4abe-4bff-b405-307a4f22f55d">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>