<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f6641f9-3ce1-419c-bbd6-4c035cd4b65e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-24T00:44:32</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="cbeeee5e-944c-4df4-a177-bf80ddca5786">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>