<?xml version="1.0" encoding="utf-8"?>
<Media Key="47c2193f-9511-49df-ba41-c602a5897acc" Alias="Trash" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Trash</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-31T01:05:20</CreateDate>
    <NodeName Default="Trash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>